<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ "/img/catolicasc.png" | prepend: site.baseurl }}" alt="Católica SC"></a>

    <nav class="site-nav" role="navigation">
      <ul class="sinte-nav__list">
        <li class="site-nav__item"><a href="#" class="site-nav__link">Sobre</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">Cursos</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">Acadêmicos</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">Pesquisa</a></li>
        <li class="site-nav__item"><a href="#" class="site-nav__link">Contato</a></li>
      </ul>
    </nav>

    <section class="site-search">
      <input type="search" placeholder="Faça sua busca aqui" aria-labelledby="Pesquisar">
      <button class="site-search__go">Pesquisar</button>
    </section>

  </div>

</header>
