@import 'helpers';

// Colors

$c-red: #AA4958;
$c-darkred: #942536;
$c-white: #f0f0f0;
$c-black: #0c0c0c;
$c-blue: #3367d5;
$ablack: rgba(0, 0, 0, .6);

html {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;

  @include media($large-desktop) {
    font-size: rem(16);
  }

  @include media($desktop) {
    font-size: rem(16);
  }

  @include media($tablet) {
    font-size: rem(14);
  }

  @include media($mobile) {
    font-size: rem(14);
  }
}

body {
  @include flex-body;
  background: $c-white;
}

figure {
  position: relative;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  @include transition(all 0.2s ease-in-out);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-banner__caption {
  @include media($mobile) {
    display: none;
  }
  @include media($tablet) {
    display: none;
  }
  @include media($desktop-x) {
    position: absolute;
    bottom: 0;
    background: $ablack;
    width: 100%;
    padding: em(20) 0;
    text-align: center;
    a {
      color: $c-white;
      font-size: em(40);
    }
  }
}

.big-title,
.med-title {
  text-transform: uppercase;
  color: $c-darkred;
}

.big-title {
  padding-bottom: em(10);
  border-bottom: 2px solid $c-darkred;
}

.alpha-content {
  padding-bottom: em(80);
  @include media($desktop-x) {
    margin-top: em(70);
  }
}

.main-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  padding: 0 0 em(60) 0;
}

.wrapper {
  @include outer-container;
  padding: 0 em(20);
}

.site-header {
  @include media($mobile) {
    padding: em(20) 0;
  }

  @include media($tablet) {
    padding: em(20) 0;
  }

  @include media($desktop-x) {
    padding: 0 0 em(20) 0;
  }
}

.site-nav {
  @include media($mobile) {
    padding: em(20) 0;
    display: none;
    padding: em(20);
  }

  @include media($tablet) {
    padding: em(20) 0;
    display: none;
    padding: em(20);
  }
  @include media($desktop-x) {
    float: right;
    margin-top: 35px;
    vertical-align: middle;
    display: inline-block !important;
  }
}

.site-nav__item {
  @include media($mobile) {
    text-align: center;
    font-size: em(20);
    font-weight: 600;
    margin: em(10) 0;
  }
  @include media($tablet) {
    text-align: center;
    font-size: em(20);
    font-weight: 600;
    margin: em(10) 0;
  }
  @include media($desktop-x) {
    margin-left: em(10);
  }
}

.secondary-actions {
  background: $c-darkred;
  padding: em(10) 0;
  width: 100%;
  margin-bottom: em(20);

  @include media($mobile) {
    display: none;
  }

  @include media($tablet) {
    display: none;
  }

  @include media($desktop-x) {
    display: inline-block !important;
  }
}

.secondary-nav {
  @include media($desktop-x) {
    float: right;
  }
}

.secondary-nav__link {
  font-size: em(14);
  font-weight: 600;
}

.secondary-nav__item {
  @include media($desktop-x) {
    margin-left: 30px;
  }
}

.site-nav__item,
.secondary-nav__item {
  @include media($desktop-x) {
    display: inline-block;
    font-weight: 600;
  }
}

.site-nav__link,
.secondary-nav__link,
.footer-nav__link {
  @include media($desktop-x) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.site-nav__link,
.secondary-nav__link {
  text-transform: uppercase;
  @include media($desktop-x) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.site-footer,
.site-header {
  background: $c-red;
  @include clearfix;
  a {
    color: $c-white;
  }
}

.footer-alpha__content {
  padding: em(30) 0;
  margin-bottom: em(20);
  @include clearfix;
}

.footer-section__info {
  padding: em(20);

  @include media($mobile) {
    @include span-columns(4);
    text-align: center;
    font-size: rem(20);
  }

  @include media($tablet) {
    @include span-columns(8);
    text-align: center;
    font-size: rem(22);
  }

  @include media($desktop-x) {
    @include span-columns(4);
    &:nth-child(4) {
      margin-right: 0;
    }
  }
}

.footer-section__title {
  text-transform: uppercase;
  color: $c-white;
  border-bottom: 2px solid $c-white;
  padding-bottom: em(10);
}

.footer-nav__link {
  margin: em(3) 0;
  display: inline-block;
  font-weight: 600;
}

.sponsor-list {
  display: block;
  margin-top: em(30);
}

.copyright {
  text-align: center;
  display: block;
  color: $c-white;
  padding: em(20) 0;
  font-size: em(16);
}

.site-logo {
  @include media($desktop-x) {
    float: left;
  }
}

.main-banner {
  background: $c-darkred;
  position: relative;
  max-height: em(500);
}

.main-banner__img {
  display: block;
  margin: auto;
}

.desktop-hide {
  @include media($desktop-x) {
    display: none;
  }
}

.nav-toggle {
  position: absolute;
  cursor: pointer;
  right: 0;
  padding: em(20) em(70) em(20) 0;

  span {
    position: absolute;
    cursor: pointer;
    display: block;
    content: '';
    width: 35px;
    height: 5px;
    background: $c-white;
    &:after,
    &:before {
      @extend span;
    }
    &:after {
      bottom: -10px;
    }
    &:before {
      top: -10px;
    }
  }

  @include media($mobile) {
    top: 40px;
  }

  @include media($tablet) {
    top: 50px;
  }

  @include media($desktop-x) {
    display: none;
    visibility: hidden;
  }

}

// Main Content
.other-news {
  padding-right: em(50);
  @include media($desktop-x) {
    @include span-columns(8);
  }
}

.other-news__item {
  font-size: rem(18);
  margin-bottom: em(10);
}

.other-news__date {
  font-weight: bold;
}

.other-news__link {
  color: $c-black;
  &:hover {
    border-bottom: 1px dotted $c-black;
  }
}

.see-more__news {
  background: $c-darkred;
  color: $c-white;
  font-weight: 600;
  margin-top: 20px;
  &:hover {
    background: $c-red;
  }

  @include media($desktop-x) {

  }
}

.site-sidebar {
  @include media($mobile) {
    margin-top: em(80);
  }
  @include media($tablet) {
    margin-top: em(100);
  }
  @include media($desktop-x) {
    @include span-columns(4);
  }
}

.site-sidebar__item {
  position: relative;
  height: em(200);
  margin-bottom: em(20);
  background: #666;
  width: 100%;
}

.site-sidebar__link {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  color: $c-white;
  font-size: em(18);
}

.events-calendar__item {
  background: $c-blue;
  margin-bottom: em(30);
  color: $c-white;
  padding: em(20);
  height: em(200);
  font-weight: 600;

  @include media($tablet) {
    @include span-columns(4);
    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }

  @include media($desktop-x) {
    @include span-columns(3);
    &:nth-child(5) {
      margin-right: 0;
    }
  }
}